<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="https://banner2.kisspng.com/20180424/sfe/kisspng-logo-business-expense-corporate-identity-money-household-goods-5adec639ca7587.3115882015245491778293.jpg" alt="image" style="width:50px"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/chart-view']">Chart View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/table-view']">Table View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/add-expense']">Add Expense</a>
      </li>
    </ul>
  </div>
</nav>

